.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
p {
  margin: 0;
}

h1,
h2,
h3,
button {
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

:root {
  --text-color: #323a49;
  --accent-text-color: #2196f3;
}

.section {
  margin-bottom: 60px;
}

.header {
  display: flex;
  margin-top: 30px;
  margin-bottom: 35px;
}

.header-logo {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.header-list:not(:last-child) {
  margin-right: 58px;
}

.header-list__fullname {
  margin-bottom: 3px;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #323a49;
}

.header-list__fullname:hover, .header-list__fullname:focus {
  color: violet;
}

.header-list__name {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.47em;
  text-transform: uppercase;
  color: #323a49;
}

.header-list__name:hover, .header-list__name:focus {
  color: violet;
}

.header__version:not(:last-child) {
  margin-bottom: 6px;
}

.version-link {
  font-size: 14px;
  line-height: 1.5em;
  color: #275ba8;
}

.version-link:hover, .version-link:focus {
  color: violet;
}

.icon-version {
  margin-right: 10px;
  vertical-align: middle;
  fill: #d5deec;
}

.header-office {
  display: flex;
}

.header__login:not(:last-child) {
  margin-right: 40px;
}

.link-login {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5em;
  color: #323a49;
}

.link-login:hover, .link-login:focus,
.link-login:hover .icon-login,
.link-login:focus .icon-login {
  color: violet;
  fill: violet;
}

.icon-login {
  margin-right: 10px;
  fill: #275ba8;
}

.section-nav {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #275ba8;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__item {
  margin: 0;
}

.nav__button {
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: transparent;
  color: #ffffff;
  padding: 14.5px 30px;
  cursor: pointer;
}

.nav__button:hover, .nav__button:focus,
.nav__button:hover .nav__button-icon,
.nav__button:focus .nav__button-icon {
  color: violet;
  fill: violet;
}

.nav__button-icon {
  background-position: center;
  background-size: contain;
  fill: #ffffff;
}

.hero {
  background-image: url(../images/hero/hero-one.jpg);
  padding-top: 91px;
  padding-bottom: 91px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 1.12em;
  color: var(--text-color);
  width: 450px;
  margin-bottom: 30px;
}

.hero__text {
  display: block;
  font-size: 18px;
  line-height: 1.67em;
  color: var(--text-color);
  margin-bottom: 45px;
  width: 450px;
}

.hero_button {
  border: 1px solid #275ba8;
  border-radius: 5px;
  background-color: transparent;
  color: #275ba8;
  padding: 18px 61px;
  cursor: pointer;
}

.hero_button::after {
  content: "";
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 20px;
  background-image: url(../../images/hero/svg/line.svg);
  align-items: center;
  margin-left: 12px;
  padding-top: 10px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.menu-list__item {
  position: relative;
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
  height: 140px;
  background-color: #f4f8fd;
}

.menu-list__link {
  display: flex;
}

.menu-list__link::after {
  content: "";
  background-size: contain;
  display: block;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-image: url(../../images/svg-menu/arrow-line.svg);
  margin-right: 40px;
  margin-left: auto;
  margin-top: 58px;
}

.menu-list__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 35px 35px;
}

.menu-list__text {
  position: absolute;
  top: 47%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 21px;
  line-height: 1.52em;
  width: 295px;
  vertical-align: middle;
}

.news-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.31em;
  color: var(--text-color);
  margin-bottom: 30px;
}

.news-list {
  display: flex;
  margin: -15px;
}

.news-list img {
  width: 350px;
  height: auto;
}

.news-list__item {
  margin: 15px;
  width: calc((100% - 6 * 15px) / 3);
}

.news-list__img {
  margin-bottom: 15px;
}

.news-list__date {
  font-size: 12px;
  line-height: 1.5 em;
  color: #858c9c;
  margin-bottom: 10px;
}

.news-list__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.news-list__text {
  font-size: 14px;
  line-height: 1.5em;
  color: var(--text-color);
}

.links-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.31em;
  color: var(--text-color);
  margin-bottom: 30px;
}

.links-list {
  display: flex;
  margin: -15px;
}

.links-list__item {
  background: #ffffff;
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 15px;
  cursor: pointer;
  width: calc((100% - 6 * 15px) / 3);
}

.links-list__item:hover, .links-list__item:focus,
.links-list__item:hover .links-list__link,
.links-list__item:focus .links-list__link {
  background-color: #f1f7ff;
  color: #626b7b;
  opacity: 1;
}

.links-list__link {
  display: flex;
  font-size: 14px;
  line-height: 1.5em;
  align-items: center;
  color: var(--text-color);
  margin-left: 15px;
}

.links-list__icon {
  margin: 15px;
}

.footer {
  background-color: #f4f8fd;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.about-company {
  margin-right: 96px;
}

.customers {
  margin-right: 63px;
}

.purchase {
  margin-right: 70px;
}

.purchase .company__list {
  width: 225px;
}

.company {
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #c7d0e2;
  padding-bottom: 30px;
  margin-bottom: 33px;
}

.company__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  padding-top: 50px;
  margin-bottom: 15px;
  color: var(--text-color);
}

.company__item:not(:last-child) {
  margin-bottom: 12px;
}

.info .company__list {
  margin-bottom: 20px;
}

.company__link {
  font-size: 14px;
  line-height: 1.5em;
  color: var(--text-color);
}

.company__link:hover, .company__link:focus {
  color: var(--accent-text-color);
}

.contacts-list__item {
  margin-bottom: 20px;
}

.contacts-list__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: var(--text-color);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-text-color);
}

.footer-logo {
  display: flex;
  margin-right: 136px;
}

.footer-logo__icon {
  margin-right: 15px;
  margin-top: 4px;
}

.footer-name__item:not(:last-child) {
  margin-bottom: 2px;
}

.footer-name__link {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-name__year {
  font-size: 12px;
  line-height: 1.5em;
  color: #858c9c;
}

.footer-text {
  font-size: 12px;
  line-height: 1.33em;
  text-decoration-line: underline;
  color: var(--text-color);
}

.footer-flex {
  display: flex;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 32px;
}
/*# sourceMappingURL=main.css.map */