.header {
  display: flex;
  margin-top: 30px;
  margin-bottom: 35px;
}

.header-logo {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.header-list:not(:last-child) {
  margin-right: 58px;
}

.header-list__fullname {
  margin-bottom: 3px;

  font-weight: normal;
  font-size: 10px;
  line-height: 1.5em;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #323a49;

  &:hover,
  &:focus {
    color: violet;
  }
}

.header-list__name {
  font-weight: 800;
  font-size: 23px;
  line-height: 1.47em;
  text-transform: uppercase;

  color: #323a49;
  &:hover,
  &:focus {
    color: violet;
  }
}

.header__version:not(:last-child) {
  margin-bottom: 6px;
}

.version-link {
  font-size: 14px;
  line-height: 1.5em;

  color: #275ba8;

  &:hover,
  &:focus {
    color: violet;
  }
}

.icon-version {
  margin-right: 10px;
  vertical-align: middle;
  fill: #d5deec;
}

.header-office {
  display: flex;
}

.header__login {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.link-login {
  display: flex;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5em;

  color: #323a49;
  &:hover,
  &:focus,
  &:hover .icon-login,
  &:focus .icon-login {
    color: violet;
    fill: violet;
  }
}

.icon-login {
  margin-right: 10px;
  fill: #275ba8;
}
