.section-nav {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #275ba8;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__item {
  margin: 0;
}

.nav__button {
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: transparent;
  color: #ffffff;
  padding: 14.5px 30px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:hover .nav__button-icon,
  &:focus .nav__button-icon {
    color: violet;
    fill: violet;
  }
}

.nav__button-icon {
  background-position: center;
  background-size: contain;
  fill: #ffffff;
}
