.links-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.31em;
  color: var(--text-color);
  margin-bottom: 30px;
}
.links-list {
  display: flex;
  margin: -15px;
}

.links-list__item {
  background: #ffffff;
  border: 1px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 15px;
  cursor: pointer;
  width: calc((100% - 6 * 15px) / 3);
  &:hover,
  &:focus,
  &:hover .links-list__link,
  &:focus .links-list__link {
    background-color: #f1f7ff;
    color: #626b7b;
    opacity: 1;
  }
}

.links-list__link {
  display: flex;
  font-size: 14px;
  line-height: 1.5em;

  align-items: center;

  color: var(--text-color);
  margin-left: 15px;
}

.links-list__icon {
  margin: 15px;
}
