.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list {
  background-color: tomato;
}

a,
p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
